# Package Managers And Dependencies
/.pnp
/node_modules
.pnp.js
*.lock
package-lock.json
pnpm-lock.yaml

# Environment And Secrets
.env
.env*.local
*.pem

# Build, Generated, And Cache Artifacts
/.cache/
/.contentlayer/
/.next/
/.next-playwright*/
/build
/out/
*.tsbuildinfo
next-env.d.ts
tsconfig.playwright*

# Test And Coverage Output
/coverage
/playwright-report
/test-results

# Logs
.pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor And OS Files
.DS_Store
.vscode/

# Deployment
/.vercel/