@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    overflow-x: hidden;
  }

  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation-name: fadeIn, moveUp;
  animation-fill-mode: both;
  animation-duration: 1800ms, 1800ms;
  animation-delay: 2500ms;
}

@media (max-width: 640px) {
  .animate-fade-in-up {
    animation-duration: 1800ms, 1800ms;
    animation-delay: 2500ms;
  }
}